root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.bat]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[*.patch]
trim_trailing_whitespace = false

[*.y{a,}ml]
indent_style = space
indent_size = 2
